 <!-- <div class="container">  -->

  <p class="h4 mb-4">Olá xxxxxxxx, como você está ? </p>


<ngb-tabset [destroyOnHide]="false" (tabChange)="changeTab($event)">

    <ngb-tab title="Minha saúde">
      <ng-template ngbTabContent>

        <form class="">

          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Pressão arterial</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="frequenciaArterial">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Frequencia cardiaca</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="frequenciaCardiaca">
            </div>
          </div>

          <div class="form-group row">
            <label for="inputPassword" class="col-sm-3 col-form-label">Frequencia respiratoria</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" id="frequnciaRespiratoria">
            </div>
          </div>

          <div class="form-group">
            <button type="submit" class="btn btn-primary float-right">Registrar</button>
          </div>

        </form>



        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Data</th>
                <th scope="col">Pressão arterial</th>
                <th scope="col">Frequencia cardiaca</th>
                <th scope="col">Frequencia respiratoria</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td>19/05/2020</td>
                <td>30</td>
                <td>60</td>
                <td>100</td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td>12/03/2020</td>
                <td>21</td>
                <td>400</td>
                <td>109</td>
              </tr>
              <tr>
                <th scope="row">3</th>
                <td>01/02/2020</td>
                <td>12</td>
                <td>3321</td>
                <td>12332</td>
              </tr>
            </tbody>
          </table>
        </div>



      </ng-template>
    </ngb-tab>

    <ngb-tab [id]="1">
      <ng-template ngbTabTitle >Meu medico</ng-template>
      <ng-template ngbTabContent>

          <p>Status medico:
              <span style="color: red;"> Offline </span>
          </p>

          <button [routerLink]="['/chat']"> Chat com medico </button>

      </ng-template>
    </ngb-tab>

    <ngb-tab [id]="2">
      <ng-template ngbTabTitle>Meu Leito</ng-template>
      <ng-template ngbTabContent>
        Caso o mapa não tenha aberto,
        <a [routerLink]="" (click)="openMap()">clique aqui</a>
      </ng-template>
    </ngb-tab>

  </ngb-tabset>


