<!-- Default form login -->
<form [formGroup]="formGroup"
      (ngSubmit)="onSubmit(formGroup.value)"
      class="text-center border border-light p-5">


  <p class="h3 mb-4"><b>Onde tem leito?</b></p>

  <!-- Email -->
  <input type="text"
          formControlName="login"
          class="form-control mb-4"
          placeholder="CPF">

  <!-- Password -->
  <input type="password"
          formControlName="senha"
          class="form-control mb-4"
          placeholder="Senha">

  <!-- Sign in button -->
  <!-- <button mdbBtn color="info" block="true" class="my-4" type="submit">Entrar</button> -->
  <button  type="submit" class="btn btn-primary btn-lg btn-block">Entrar</button>

  <!-- Register -->
  <div class="registro">
    <p>Não te cadastro?
      <a [routerLink]="['/cadastro']"> Registre-se </a>
    </p>
  </div>



  <!-- Social login -->
  <!--
  <p>or sign in with:</p>

  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="facebook"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="twitter"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="linkedin"></mdb-icon>
  </a>
  <a type="button" class="light-blue-text mx-2">
    <mdb-icon fab icon="github"></mdb-icon>
  </a>
  -->

</form>
<!-- Default form login -->
